<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My first todo-app</title>
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
	<header>
		<a href="{{url_for('base')}}">Home</a>
		<a href="#">About</a>
	</header>

	<div>
		<form>
			<div>
				<label>Todo Title</label>
				<input  type="text" name="title" placeholder="Enter Todo..."><br>
			</div>
			<button>Add</button>
		</form>
	</div>


</body>
</html>